* {
    box-sizing: border-box;
    /*Gör så att textfälterna på firstname och lastname håller sig innan för pink border*/
}

#container {
    width: 500px;
    /*border: 1px solid pink;* hade för att se var text fälten håller sig*/
    margin: 20px auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="submit"]/*Denna påverkar bara stylningen av Input text*/ {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid red;
}

input[type="submit"] {
    background-color: blanchedalmond;
}

.from-row {
    margin: 10px 0;
}
